@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #f5f5f5;
}

.cabecalho-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20%;
    justify-content: space-between;
    background-image: url("imagem-fundo-menu.png");
    background-size: cover;
}

.cabecalho-logo {
    margin-left: 30px;
}

.cabecalho-superior-item-menu {
    display: flex;
    gap: 36px;
    margin: 30px;
}

.cabecalho-menu-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cabecalho-menu-item {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2px;
    background: #18301E;
}

.cabecalho-menu-item a {
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F8;
    font-weight: 300;
    display: flex;
    text-decoration: none;
}

.cabecalho-menu-item a:hover {
    background-color: #18301e00;
    border-radius: 4px;
    width: 80px;
    /* Define a largura do botão */
    height: 10px;
    /* Define a altura do botão */
}

.conteudo{
    font-family: 'Montserrat', sans-serif;
}

.conteudo-principal-escrito-titulo{
    color: #18301E;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 22px;
}

.container {
    display: flex;
    justify-content: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .item {
    position: relative;
  }
  
  .nome {
    position: absolute;

    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F8;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  